@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
//Declaración de Variables SASS
$headerHeigh: 70px;
$firstFont: "Staatliches", cursive;
$secondFont: "Roboto Condensed", sans-serif;
:root {
    --movingCarousel: 0%;
}
//Variables globales del carrusel
$contentWidth: 1349px;
//$contentHeight: 455px;
.content-global {
    width: 100%;
    height: 100%;
}

.carousel {
    //Setting
    width: 100%;
    height: $contentHeight;
    //Desing
    background: red;
    overflow: hidden;
    //Setting
    //height: $contentHeight;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    //Desing
    background: steelblue;
    .carousel-images {
        width: 100%;
        height: 100%;
        position: absolute;
        background: green;
        
        .content-aux {
            background: coral;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            transition: transform .5s;
            transform: translateX(var(--movingCarousel));
            //transform: translateX(-100%);
            .carousel-images-item {
                
                //Settings
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                //Desing
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                .content-global {
                    height: 19%;
                    //background: blue;
                    .carousel-images-content {
                        width: 100%;
                        background: rgba(#111, 0.2);
                        color: #fff;
                        h3 {
                            font-size: 2em;
                            font-family: $firstFont;
                            letter-spacing: 1px;
                        }
                        p,
                        span {
                            font-size: 1.2em;
                            font-family: $secondFont;
                        }
                    }
                }
            }
        }
    }

    //Botones para movimiento
    div[class^="button"] {
        //Setting
        z-index: 10;
        width: 5%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: rebeccapurple;

        .icon-content {
            font-size: 2em;
            cursor: pointer;
            color: #fff;
            //Desing
            //background-color: rgba(#111,.6);
            padding: 10px;
            border-radius: 60%;
            background-color: rgba(#111, 0.6);
            .icon {
                display: block;
                transition: transform 0.3s;
            }

            &:hover .icon {
                transform: scale(0.8);
            }
        }
    }
}

