@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
//Declaración de Variables SASS
$headerHeigh: 70px;
$firstFont: 'Staatliches', cursive;
$secondFont: 'Roboto Condensed', sans-serif;

.login {
    //Setting
    width: 100%;
    height: 90vh;
    //Desing
    //background: red;
    .content-global {
        margin: auto;
        //background: blue;
        
        div[class^="login-"] {
            width: 50%;
            margin: auto;
            background: green;
            border-bottom: 10px solid red;
        }

        .login-top {
            //Setting
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            //Desing
            color: #fff;
            font-size: 1.5em;
            font-family: $secondFont;
            span {
                font-size: 2em;
                color: #ffd867;
            }
        }

        .login-middle {
            height: 40%;
           
            form {
                background-color: rebeccapurple;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 10px;
                margin: 20px 0;
                div[class^='form-'] {
                    width: 50%;
                    //height: 50%;
                    margin: auto;
                    color: #fff;
                    //font-size: 1.1em;
                    font-family: $secondFont;
                    
                }
                .form-top {
                    background: rebeccapurple;
                    &::before {
                        display: block;
                        content: 'Nombre de usuario o dirección de correo';
                        margin-bottom: 10px;
                    }
                    input {
                        display: block;
                        background: transparent;
                        width: 80%;
                        height: 25px;
                        border-radius: 5px;
                        border: 1px solid #333;
                        &:focus {
                            border: 1px solid #fff;
                        }
                    }
                }

                .form-bottom {
                    background: darkgoldenrod;
                    .form-bottom-labels {
                        background: red;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding-right: 20%;
                    }
                    input {
                        display: block;
                        background: transparent;
                        width: 80%;
                        height: 25px;
                        border-radius: 5px;
                        border: 1px solid #333;
                        &:focus {
                            border: 1px solid #fff;
                        }
                    }
                }
            }
        }

        .login-need-account {
            height: 20%;
        }

        .login-bottom {
            height: 20%;
        }
    }
}