@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
//Declaración de Variables SASS
$headerHeigh: 70px;
$firstFont: 'Staatliches', cursive;
$secondFont: 'Roboto Condensed', sans-serif;
//Reset general

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rebeccapurple;
    .content-global {
        padding: 10px 10px;
        .icon-page {
            display: flex;
            justify-content: space-between;
            
            //background: blue;
            font-size: 2em;
            .icon-page-left {
                background: red;
                .icon-local_pizza {
                    color: yellow;
                    cursor: pointer;
                }
                p {
                    font-family: $firstFont;
                    display: inline-block;
                    color: #fff;
                }
            }
        }

        nav {
            background: red;
            display: none;
        }
    }
}